extends ./partials/layout/layout

block content
    p This is a basic HTML, CSS and JS template. It currently has:
    ul
        li Conditional comments to add relevant classes for IE fixes.
        li Some media queries set to arbitrary break points.
        li JS detection and switch from <a href="http://www.456bereastreet.com/archive/201209/tell_css_that_javascript_is_available_asap/">Roger Johansson</a>.
