doctype html
<!--[if lte IE 9]><html lang="en-gb" class="no-js lt-ie10"><![endif]-->
<!--[if gt IE 9]><!--><html lang="en-gb" class="no-js"><!--<![endif]-->

include ./document_head.html

body
    block content

    include ./document_script.html

</html>
