/**
* HTML/CSS/JS Template
*
* @info		Full width styling
* @version	0.3.2
* @author	Jasal Vadgama - http://blacklabelcreative.com/
**/

/**
* Imports
**/
@import 'assets/scss/partials/_variables.scss';

/**
* General
**/
p {
	margin-bottom: $MARGIN_BOTTOM;
}