/**
* HTML/CSS/JS Template
*
* @info		Baseline and 320px styling
* @version	0.3.2
* @author	Jasal Vadgama - http://blacklabelcreative.com/
**/

/**
* Imports
**/
@import 'assets/scss/partials/_variables.scss';

/**
* General
**/
body {
	background: #fff;
	color: #121212;
	font: 14px/1.2em Helvetica, Arial, sans-serif;
	/* stop font size scalling on orientation change - ADD FULL FIX */
	-webkit-text-size-adjust: 100%;
}
section {
	margin-bottom: $MARGIN_BOTTOM * 2;
}
h1 {
	margin-bottom: $MARGIN_BOTTOM;
	font-size: 26px;
	line-height: 1.2em;
}
h2 {
	margin-bottom: $MARGIN_BOTTOM / 2;
	font-size: 20px;
	line-height: 1.2em;
}
h3 {
	margin-bottom: $MARGIN_BOTTOM;
}
p,
ul {
	margin-bottom: $MARGIN_BOTTOM;
}
li {
	margin: 0 0 5px 40px;
}

/**
* Containers
**/
#pageWrapper {
	margin: 1em auto 0;
	width: 960px;
}