* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    color: $copy;
    font-family: $BodyCopy;
    font-size: 1rem;
    line-height: 1.2;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-font-smoothing: antialiased;
}


.visually-hidden {
    @include visually-hidden;
}

h1, h2 {
    margin-top: 0;
    font-family: $HeadingCopy;
    font-weight: normal;
    line-height: 1.2;
}
h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
    line-height: 1;
}
h2 {
    font-size: 2rem;
}

p {
    margin: 0 0 1.4rem;
    line-height: 1.4;
}

a {
    border-bottom: 1px solid transparent;
    text-decoration: none;

    &:hover,
    &:focus {
        border-color: $copy;
    }
}
