/**
* Variables
**/

// Media Queries
$extraSmallScreen: 320px;
$smallScreen: 480px;
$mediumScreen: 768px;
$largeScreen: 960px;
$wideScreen: 1200px;
$isOldIE: false !default;

// Colours
$black: #000;
$purple: #862165;
$white: #fff;
